<div class="container centered-container fullscreen">
    <form class="form-signin" action="/signup" method="POST">
        <h2>Sign up</h2>
        <hr>
        <div class="form-group mb-2">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" value=""  required>
        </div>
        <div class="form-group mb-2">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" value=""  required>
        </div>
        <div class="form-group mb-2">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" value=""  required>
        </div>
        <div class="form-group my-4">
            <button type="submit" class="btn btn-primary signin-button">Sign Up</button>
        </div>
    </form>
</div>